html{
    scroll-behavior: smooth;
}

#picme{
    width: 40vh;
    height: 40vh;
    border-radius: 40%;
}

ion-icon:hover{
    transform: scale(1.5);
}

.card{
    background-color: none;
    width: 100%;
}

.card:hover{
    background-color: gray;
    color: white;
    transform: scale(1.1);
}

.tools1{
    flex-direction: row;
    width: 6rem;
    height: 6rem;
}

.tools1:hover{
    transform: rotate(30deg);
}