*{
	font-family: 'open sans';
}

button{
	background-color: white;
	padding: 10px;
	width: 9rem;
	font-size: 1rem;
	font-weight: 600;
	border-color: transparent;
	border-radius: 25px;
}

/*Member 2*/
nav{
	padding: 10px;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
}

.right-nav{
	float: right;
}

li{
	list-style-type: none;
	display: inline-block;
}

.nav, .nav-logo{
	margin: 8px;
	padding: 3px;
}
/*End of Member 2*/

/*Member 3*/
#bg-image{
	background-color: rgba(0, 0, 0, 0.7);
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: white;
}

.container{
	text-align: right;
	width: 40%;
	position: relative;
	left: 50%;
}

.subtitle{
	font-size: 1.3rem;
	font-weight: 300;
	width: 75%;
	margin-left: 9rem;
	margin-top: 1rem;
}

#apply-button{
	margin-top: 1rem;
	background-color: #c2195b;
}

#main, .pre-footer {
	padding-top: 2rem;
	text-align: center;
}
.title-2 {
	font-family: 'Zilla Slab', sans-serif;
	font-size: 2rem;
	font-weight: 500;
}
.description{
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: 500;
}

#book-button{
	background-color: #336589;
}

footer{
	margin-top: 2rem;
	padding: 1rem;
	text-align: center;
}
footer > span {
	margin-right: 2rem;
	margin-left: 2rem;
	font-weight: 500;
}